body{
 background-color: #f2f2f2;   
}

section{
 display: flex;
 justify-content: space-around;
 margin-left: 300px;
 margin-right:300px ;
 
}

.contenedor{
    display: flex;
    flex-direction: column;
    width:370px ;
    height:550px ;
    background-color: #ffffff;
    align-items: center;

    box-shadow: #c262af;
   
}

.box{
    display: flex;
    margin-top: 200PX;   
    box-shadow: #c262af; 
}

img{
    margin: 30px ;
    width: 300px;
    height: 200px;
}
h1{
color: #c262af;
display: flex;
justify-content: center;
margin: 30px 40px;
font-size: 60px;
}

h2{
    display: flex;
    width: 300px;
   justify-content: center;
   font-size: 26px;
}

.text{
   
    width: 300px;
}



footer p{
     display: flex;
     justify-content: center;
 color: #d394c6;
}

footer hr{
    margin-top: 100px;
    width:  1300px;
    color: #ece9ec;
   }




@media (max-width:480px) {
 
section{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 30px;
}

h1{
 

 font-size: 30px;



}

.contenedor{

    width:300px ;
    height:400px ;
 display: flex;
 
    
   
}

img{
   
    width: 200px;
    height: 250px;
}

h2{
 
  
    width: 250px;
    font-size: 20px;
 }

 
.text{
    font-size: 14px;
   margin: 10px;
 }
 
.box{
    margin-top: 20px;
    margin-bottom:20px;
 
}
footer hr{
    width: 400px;
}
 
footer p{
  font-size: 10px;
}


}